@(profiles: List[org.pac4j.core.profile.CommonProfile], csrfToken: String, sessionId: String)
<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a> (use a real account)<br />
<a href="facebookadmin/index.html">Protected url by Facebook with ROLE_ADMIN: facebookadmin/index.html</a> (use a real account)<br />
<a href="facebookcustom/index.html">Protected url by Facebook with custom authorizer (= must be a <em>CommonProfile</em> where the username starts with "jle"): facebookcustom/index.html</a> (login with form or basic authentication before with jle* username)<br />
<a href="facebook/notprotected.html">Not protected url by using an excluding matcher: facebook/notprotected.html</a><br />
<a href="twitter/index.html">Protected url by Twitter: twitter/index.html</a> or <a href="twitter/index.html?client_name=FacebookClient">by Facebook: twitter/index.html?client_name=FacebookClient</a> (use a real account)<br />
<a href="form/index.html">Protected url by form authentication : form/index.html</a> (use login = pwd)<br />
<a href="javascript:ajaxClick();">Click here to send AJAX request after performing form authentication</a><br />
<a href="basicauth/index.html">Protected url by basic auth : basicauth/index.html</a> (use login = pwd)<br />
<a href="cas/index.html">Protected url by CAS : cas/index.html</a> (use login = pwd)<br />
<a href="saml/index.html">Protected url by SAML : saml/index.html</a> (use a real account)<br />
<a href="oidc/index.html">Protected url by Google OpenID Connect : oidc/index.html</a> (use a real account)<br />
<a href="protected/index.html">Protected url: protected/index.html</a> (won't start any login process)<br />
<a href="protected/custom.html">Protected url: protected/custom.html</a> (won't start any login process, but requires a jle* username)<br />
<br />
<a href="jwt.html">Generate a JWT token</a><br />
<a href="/dba/index.html">Protected url by DirectBasicAuthClient: /dba/index.html</a> (POST the <em>Authorization</em> header with value: <em>Basic amxlbGV1OmpsZWxldQ==</em>) then by <a href="/dba/index.html">ParameterClient: /dba/index.html</a> (with request parameter: token=<em>jwt_generated_token</em>)<br />
<a href="/rest-jwt/index.html">Protected url by ParameterClient: /rest-jwt/index.html</a> (with request parameter: token=<em>jwt_generated_token</em>)<br />
<br />
<form method="POST" action="/csrf/index.html">
    Token: <input type="text" name="pac4jCsrfToken" value="@csrfToken" /><br />
    <input type="submit" value="Protected by CSRF token: /csrf/index.html" />
</form>
<a href="forceLogin?client_name=FacebookClient">Force Facebook login</a> (even if already authenticated)<br />
<br />
<a href="/logout?url=/?forcepostlogouturl">local logout</a><br />
<br/>
<a href="/centralLogout?url=http://localhost:9000/?forcepostlogouturlafteridp">central logout</a>
<br /><br />
profiles: @profiles<br />
<br />
sessionId: @sessionId
<br /><br />
<br />
<br />
<h2>Find the source code on <a target="_blank" href="https://github.com/pac4j/play-pac4j-scala-demo">https://github.com/pac4j/play-pac4j-scala-demo</a><br/>
    <br />
    See it running on Heroku: <a target="_blank" href="http://play-pac4j-scala-demo.herokuapp.com">http://play-pac4j-scala-demo.herokuapp.com</a></h2>

    <!-- Link to Google CDN's jQuery; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>

<script src="assets/js/app.js"></script>
