@(profile : org.pac4j.core.profile.CommonProfile, urlFacebook: String, urlTwitter: String, urlForm: String, urlBasicAuth: String, urlCas: String, urlMyopenid: String)
<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
<a href="twitter/index.html">Protected url by Twitter : twitter/index.html</a><br />
<a href="form/index.html">Protected url by form authentication : form/index.html</a><br />
<a href="javascript:ajaxClick();">Click here to send AJAX request after performing form authentication</a><br />
<a href="basicauth/index.html">Protected url by basic auth : basicauth/index.html</a><br />
<a href="cas/index.html">Protected url by CAS : cas/index.html</a><br />
<form action="myopenid/index.html" method="POST">
  <input type="text" name="openIdUser" value="http://xxx.myopenid.com/" />
  <input type="submit" value="Protected url by myopenid.com : myopenid/index.html" />
</form>
<br />
<a href="logout">logout</a>
<br /><br />
profile : @profile
<br /><br />
<hr />
<a href="@urlFacebook">Authenticate with Facebook</a><br />
<a href="@urlTwitter">Authenticate with Twitter</a><br />
<a href="@urlForm">Authenticate with form</a><br />
<a href="@urlBasicAuth">Authenticate with basic auth</a><br />
<a href="@urlCas">Authenticate with CAS</a><br />
<form action="@urlMyopenid" method="POST">
  <input type="text" name="openIdUser" value="http://xxx.myopenid.com/" />
  <input type="submit" value="Authenticate with myopenid.com" />
</form>

<!-- Link to Google CDN's jQuery; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>

<script src="assets/js/app.js"></script>
